body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
h1 {
	text-align: center;
}

.btn {
	font-size: 18px;
}

.btn:focus{
  outline: none;
}

#game-board {
	margin: 0 auto;
	text-align: center;
	width: 180px;
	line-height: 0;
}

.tile, .tile-blank, .tile-x, .tile-o {
	height: 60px;
	width: 60px;
	border: 1px solid black;
	display: inline-block;
}

.tile-x {
	background-color: red;
}

.tile-o {
	background-color: blue;
}
